{% extends "base.html" %}

{% block content %}
<h1>Тест для {{_class}} класса:</h1>
<form>
{% for d in test %}
    <div name="{{d['id']}}" style="margin: 2%">
        <label><h4>{{loop.index}}.{{d["text"]}}</h4></label>
        {% if d["picture"] %}
        <br><img src="../static/{{d['picture']}}" alt="{{d['picture']}}">
        {% endif %}
        {% for answ in d["answers"] %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="radio{{loop.index}}" value="option{{loop.index}}">
            <label class="form-check-label" for="radio{{loop.index}}">{{answ}}</label>
        </div>
        {% endfor %}
    </div>
{% endfor %}
</form>
<a href="/results" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Узнать результаты!</a>
{% endblock %}
